<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入db.properties文件 -->
    <properties resource="db.properties"/>

    <settings>
        <!--开启驼峰自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

<!--    <typeAliases>-->
<!--        <typeAlias type="org.example.pojo.User" alias="User" />-->
<!--    </typeAliases>-->

    <typeAliases>
        <package name="org.example.pojo"/>
    </typeAliases>
    
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!-- 配置数据源 -->
    <environments default="development">
        <!-- 配置开发环境数据源 -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 配置数据库驱动 -->
                <property name="driver" value="${db.driver}"/>
                <!-- 配置数据库地址 -->
                <property name="url" value="${db.url}"/>
                <!-- 连接数据库所需的用户名 -->
                <property name="username" value="${db.username}"/>
                <!-- 连接数据库所需的密码 -->
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
        <!-- 配置测试环境数据源 -->
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 配置数据库驱动 -->
                <property name="driver" value="${dbtest.driver}"/>
                <!-- 配置数据库地址 -->
                <property name="url" value="${dbtest.url}"/>
                <!-- 连接数据库所需的用户名 -->
                <property name="username" value="${dbtest.username}"/>
                <!-- 连接数据库所需的密码 -->
                <property name="password" value="${dbtest.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 配置mapper -->
    <mappers>
<!--        &lt;!&ndash; 设置mapper的完整路径 &ndash;&gt;-->
<!--        <mapper resource="org/example/mapper/UserMapper.xml"/>-->
        <package name="org.example.mapper"/>
    </mappers>

</configuration>
