<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.TeacherMapper">

    <!--依据id查询老师方式1-->
    <select id="getTeacherByID1" resultMap="teacherResultMap1">
        SELECT
            s.*,t.*
        FROM
            student AS s
                LEFT JOIN student_teacher_relation AS str ON s.s_id = str.s_id
                LEFT JOIN teacher AS t ON t.t_id = str.t_id
        WHERE
            t.t_id = #{id}
    </select>
    <resultMap id="teacherResultMap1" type="Teacher">
        <id property="tId" column="t_id"></id>
        <result property="tName" column="t_name"></result>
        <collection property="studentList" ofType="Student">
            <id property="sId" column="s_id"></id>
            <result property="sName" column="s_name"></result>
        </collection>
    </resultMap>

    <!--依据id查询老师方式2-->
    <select id="getTeacherByID2" resultMap="teacherResultMap2">
        SELECT * FROM teacher WHERE t_id = #{id}
    </select>
    <resultMap id="teacherResultMap2" type="Teacher">
        <id property="tId" column="t_id"></id>
        <result property="tName" column="t_name"></result>
        <collection property="studentList" column="t_id" ofType="Student"
                    select="com.cn.mapper.StudentMapper.findStudents">

        </collection>
    </resultMap>

    <!--依据学生id查询老师-->
    <select id="findTeachers" resultType="Teacher">
        SELECT * FROM teacher WHERE t_id IN (SELECT t_id FROM student_teacher_relation WHERE s_id=#{id})
    </select>

</mapper>